.App input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 20px;
}

.App footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.App footer > a {
  text-decoration: none;
  color: #800080;
}

.App footer > a:hover {
  color: #800080;
}

@media (width < 960px) {
  .App input {
  padding: 5px;
  font-size: 14px;
}

.App footer {
  font-size: 12px;
}
}